@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



@keyframes headanim {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content{
  padding-top: 10rem;
}

header{
  animation: 1s ease-out 0s 1 headanim;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  z-index: 10;
  background-color: white;
}


.navlogo{
  cursor: pointer;
  margin-right: auto;
}

.navtext{
  cursor: pointer;
  margin-right: auto;
}

.navlinks li{
  display: inline-block;
  padding: 0 20px;
}



.containerhead{
  animation: 1s ease-out 0s 1 headanim;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.mint{
  text-align: center;
  margin-top: 5%;
  opacity: 0;
  transition: 1s;
  transform: scaleX(-50%) translateY(100%);
  pointer-events: none;  
}



.mintbtn{
  background-color: black;
  color: azure;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  margin-left: 1%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}


.cont{
  text-align: center;
}

.conttext{
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width:450px){
  .head{
    display: block;
    text-align: center;

  }

  
.navlinks li{
  padding: 0 10px;
}

#content{
  padding-top: 13rem;
}

}



.mintbtn:hover{
  background-color: #3f51b5;
}

.mint.show{
  opacity: 1;
  transform: scaleX(100%);
  pointer-events: all;
  padding-top: 0%;
  overflow-y: auto;
}

.btn{
   cursor: pointer;
}


.div-1 , .div-2 , .div-3 , .div-4{
  opacity: 0;
  transition: 0.1s;
}




.div-1.on , .div-2.on , .div-3.on , .div-4.on{
  opacity: 1;
  transition: 1s;
}


.conttext{
  margin-top: 5%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}




.cont{
  display: grid;
  grid-template-columns: 1fr;
}


